PORT=8000
MONGODB_URI=mongodb+srv://shovon:shovon123@shovon.v9uesfz.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=lkahjfhguqegwiq prjr98013470134maf08-29_Ajsdofj913ujljhyi3buvyq6e5
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=bfu2h8hfiqenfiohqo8hfkf812357915_SFfFFSF3w1fa
REFRESH_TOKEN_SECRET=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=